.main-container {
    list-style-type: none;
    display: flex;
    max-width: 1002px;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 17px;
    align-items: flex-start;
    width: 1002px;
}

.restaurants-main-container,
.ownerRestaurant-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1002px;
  margin: 0 auto;
  margin-top: 102px;

}

.restaurant-img-main-div,
.ownerRestaurant-restaurant-img-main-div {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .restaurant-img-main-div,
  .ownerRestaurant-restaurant-img-main-div {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 700px) {
  .restaurant-img-main-div,
  .ownerRestaurant-restaurant-img-main-div {
    flex: 0 0 100%;
  }
}

.restaurant-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
    color: black;
    height: 171px;
    width: 256px;
}

.restaurant-box:hover {
    cursor: pointer;
}

.restaurant-info-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.p-card-style location-p-tag {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-card-style location-p-tag {
    margin: 0;
    text-decoration: none;
    padding-bottom: 13px;
    padding-top: 5px;
}

.p-card-style location-p-tag p:nth-child(2) {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.owner-div update-delete-btns button {
    background-color: darkgrey;
    color: white;
    font-weight: normal;
    margin-right: 10px;
}

.owner-div update-delete-btns button:hover {
    cursor: pointer;
}

.res-name{
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
