/* TODO Add site wide styles */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html {
    background: url(assets/AdobeStock_537471792copy.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
