
.navBar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navBar-inner-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 1200px;
  background-color: transparent;
}

.navBar-left {
  gap: 14px;
}

.navBar-left button {
  background-color: transparent;
  border: none;
  outline: none;
}

.navBar-left,
.navBar-center,
.navBar-right {
  display: flex;
  align-items: center;
}

.navBar-spacer {
  flex-grow: 1;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 28px;
  color: white;
  text-align: center;
  /* font-family: 'BatmanForeverOutline', sans-serif; */
  font-family: 'BatmanForeverAlternate', sans-serif;
  text-shadow: 2px 2px black;
}

.login-btn,
.signup-btn,
.cart-btn {
  margin-left: 10px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}


.login-btn {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}

.signup-btn {
  background-color: #333;
  color: white;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #555;
  color: white;
}

.line {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.fas {
  font-size: 24px;
  cursor: pointer;
}

.profile-dropdown {
  list-style-type: none;
  position: absolute;
  top: 85px;
  right: 263px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 180px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 10px;
  text-align: center;
}

.profile-dropdown button {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-dropdown button:hover {
  background-color: #349684;
}

.profile-dropdown.show {
  transform: translateX(0);
}


.line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.navBar-inner-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1008px;
  padding: 0px 20px;
}

.navBar-logo-create-link {
  display: flex;
  align-items: center;
  text-align: left;
}

.navbar-logo {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.logo {
  height: 46px;
  align-items: center;
}

.navbar-logo img {
  display: flex;
  justify-content: flex-start;
  position: relative;
  align-items: center;
}

.create-new-spot {
  text-decoration: none;
  color: #008489;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  align-items: center;
}

.create-new-spot:hover {
  color: #005e63;
}

.profile-dropdown .center-menu-profile a {
  text-decoration: none;
  color: #008489;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.center-menu-profile:hover {
  color: #005e63;
}

.navBar-far-right {
  text-align: right;
  list-style-type: none;
  display: inline-block;
}

.navigation-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 21px;
  border: 1px solid grey;
}

.menu-icon {
  stroke: currentColor;
  fill: none;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: #000;
}

.profile-icon {
  fill: currentColor;
  width: 30px;
  height: 30px;
  color: #191b22;
}

.user-initials1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 10px;
}

.profile-dropdown-container {
  position: relative;
}

.profile-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  right: -74px;
  display: none;
  z-index: 1000;
  width: 180px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(221, 221, 221);
  padding: 6px;
  transform: perspective(500px) rotateX(4deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-dropdown:hover {
  transform: perspective(500px) rotateX(0deg);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.profile-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.profile-dropdown li {
  margin-bottom: 10px;
  text-align: center;
}

.navBar-right-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: flex-end;
}

.navBar-spacer {
  flex-grow: 1;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.login-btn:hover, .signup-btn:hover, .cart-btn:hover {
  background-color: #333;
  color: #fff;
}

.login-btn {
  margin-right: 10px;
  border: 1px solid #333;
  background-color:#E2E2E2;
  color: black;
  border-radius: 110px;
  font-family: 'BatmanForeverAlternate', sans-serif;
}

.signup-btn {
  background-color:#E2E2E2;
  color: black;
  border-radius: 110px;
  font-family: 'BatmanForeverAlternate', sans-serif;
}

.cart-btn {
  background-color:#E2E2E2;
  color: black;
  border-radius: 110px;
  margin-right: 19px;
  margin-top: 2px;
  font-family: 'BatmanForeverAlternate', sans-serif;
}

.navBar-spacer {
  flex-grow: 1;
}
.modal-slide-in {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  position: fixed;
  top: 50%;
  right: 0;
  width: 300px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform-origin: top right;
}

.modal-slide-in.show {
  transform: translateX(0);
}

.login-signup-menu{
  margin-top: 14px;
}

.fas {
  font-size: 12px;
}
