
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'BatmanForeverAlternate', sans-serif;
    text-shadow: 2px 2px black;
}

form {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    color: var(--error-color);
    margin-bottom: 15px;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    font-family: 'BatmanForeverAlternate', sans-serif;
    text-shadow: 2px 2px black;
}

input {
    width: 320px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: var(--highlight-color);
}

button {
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    font-family: 'BatmanForeverAlternate', sans-serif;
    text-shadow: 2px 2px black;
    margin-left: 10px
}

button:hover {
    background-color: #349684;
}
